.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          = link_to user_path(@prototype.user) do
            = image_tag(@prototype.user.avatar.thumb, alt: "profile_photo", class: "media-object", style: "width: 64px; height: 64px;")
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
          .proto-user
            by
            = link_to "#{@prototype.user.name}", user_path(@prototype.user)
            .degree
              = @prototype.user.position
    = render 'like'
  .row
    .col-md-9.image-box
      = image_tag(@prototype.set_main_thumbnail.large, class: 'img-responsive img-size-fix', style: "margin: 0 auto;")
    .col-md-3
      %ul.proto-sub-list.list-group
        - @prototype.captured_images.sub.each do |image|
          %li.list-group-item
            = image_tag(image.content, class: 'img-responsive')
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.catch_copy
    .col-md-6
      %h4 Concept
      %p
        = @prototype.concept
    .col-md-3
      %h4 Tag List
      %ul.proto-tag-list.list-inline
        %li
          %a{href: "#", class: "btn btn-default"} iPad
        %li
          %a{href: "#", class: "btn btn-default"} wireframe

  .row.proto-comments
    .col-md-8#comment_area
      %form#new_comment.form-inline
        = form_for([@prototype, @comment], {:controller => :comments, :action => :create} ) do |f|
          = f.hidden_field :user_id, value: current_user.id
          = f.hidden_field :prototype_id, value: @prototype.id
          %h4 Write a comment
          .row
            .form-group.col-md-10
              = f.text_area :comment, rows: 3, require: true, placeholder: "Your comments", class: "textform-control", id: "#comment_text"
            .form-group.col-md-2
              = f.submit "COMMENT", id: "button", class: "btn btn-primary"


