!!!
%html
  %head
    %meta{content: "text/html; charset=US-ASCII", "http-equiv" =>  "Content-Type"}/
    %title Protospace
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' =>  true
    = javascript_include_tag 'application', 'data-turbolinks-track' =>  true
    = csrf_meta_tags
    %script{:src => "create.js", :type => "text/javascript"}
    %script{:src => "destroy.js", :type => "text/javascript"}

  %body
    = render "shared/header"
    = render "shared/flash"
    = render "shared/messages"
    = yield
    = render "shared/footer"
